---
import BaseLayout from "../layouts/BaseLayout.astro";
const { frontmatter } = Astro.props;
import PostImage from "../components/PostImage/PostImage.astro";
const { url, alt } = frontmatter.image;
---

<BaseLayout pageTitle={frontmatter.title}>
  <PostImage url={url} alt={alt} />
  <div class="nes-container is-dark with-title">
    <p class="title">{frontmatter.title}</p>
    <slot />
  </div>
  <p>Publicado: {frontmatter.pubDate.slice(0, 10)}</p>
  <p>Última actualización: {frontmatter.lastMod.slice(0, 10)}</p>
  <p>Autor: {frontmatter.author}</p>
</BaseLayout>
